.Content {
	/*width: 70%;*/
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
	padding: 10px;
}

#StudentPicker {
	padding: 20px;
	margin-bottom: 0;
}

#PickerTable {
	padding: 10px;
	margin-bottom: 0;
}